<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/logout.css">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="message-box box">
                <h2 class="title">Você foi desconectado!</h2>
                <p>Você saiu com sucesso da sua conta. Obrigado por usar nossa aplicação.</p>

                <div class="field">
                    <div class="control">
                        <a class="button is-primary" href="/login">Voltar para o Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"></script>
</body>
</html>
